
.hero-unit
  %h1 Slashdot API
  %p API for scrapping, storage, and access of Slashdot.com

  %hr

  .row-fluid
    %p
      = link_to "Example JSON", "http://localhost:5000/slashdot_postings/search?url=http://singularityhub.com/2013/07/27/canvas-camera-brush-and-algorithms-enable-robot-artists-beautiful-paintings/"

    %h6
      Documentation coming soon...

    %br

    %h6
      Please see
      = link_to " Github page ", "http://github.com/theoretick/slashdot-api"
      For more information.