
.hero-unit
  %h1 The (Unofficial) Slashdot API
  %p API for scrapping, storing, and accessing postings on Slashdot.com

  %hr

  .row-fluid
    %h4
      %pre
        = @latest_json

      %ul
        - @latest_10.each do |url|
          %li
            %small
              = link_to url.target_url, url.slashdot_postings.last.permalink
    %h6
      Documentation coming soon...

    %br

    %h6
      Please see
      = link_to " Github page ", "http://github.com/theoretick/slashdot-api"
      For more information.