
.hero-unit
  %h1 The (Unofficial) Slashdot API
  %p API for scrapping, storing, and accessing postings on Slashdot.com

  %hr

  .row-fluid
    %h4
      = link_to "Latest SlashdotPosting archived by URL:", @latest_url

      %pre
        = @latest_json

    %h6
      Documentation coming soon...

    %br

    %h6
      Please see
      = link_to " Github page ", "http://github.com/theoretick/slashdot-api"
      For more information.