@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: Futura, Lato, sans-serif;
}

p.suggested {
  font-size: 80%;
  line-height: 110%;
}

.wrapper {
  background-color: #eeeeee;
  padding: 2%;
  padding-right: 1%;
  margin-bottom: 1%;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}